<main>

    <!-- Carousel Slides -->
    <section id="galery">

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/Overlook.jpg">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Stuning View</h1>
                            <p>Enjoy the most breath-taking view from your home.</p>
                            <p><a class="btn btn-lg btn-light" href="/user/register">Apply Today</a></p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/images/Parlor.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Indoor and Outdoor Amenities.</h1>
                            <p>Highly-curated and thoughtfully-designed amenities focus on health, wellness, and community.
                            </p>
                            <p><a class="btn btn-lg btn-light" href="#amenities">Explore Amenities</a></p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/images/LivingRoom.jpg">
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Modern Living</h1>
                            <p>Designed for the way people live today.</p>
                            <p><a class="btn btn-lg btn-light" href="#contact">Contact Us</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>


    <!-- Key Features -->
    <section id="keyFeatures">

        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <span class="material-icons md-72">diamond</span>

                    <h2>Luxury</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-lg-4">
                    <span class="material-icons md-72">attach_money</span>

                    <h2>Affordable</h2>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-lg-4">
                    <span class="material-icons md-72">place</span>

                    <h2>Covenient</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>

    </section>


    <!-- Amenities -->
    <section id="amenities">

        <hr class="featurette-divider">
        <div class="container marketing">
            <div class="row">
                <div class="col-md-5">
                    <h2>The Garden</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-md-7">
                    <img class="amenities-image img-fluid mx-auto" src="/images/Garden.jpg">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row">
                <div class="col-md-5 order-md-2">
                    <h2>The Gym</h2>
                    <p class="lead">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-7 order-md-1">
                    <img class="amenities-image img-fluid mx-auto" src="/images/Gym.jpg">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row">
                <div class="col-md-5">
                    <h2>The Game Room</h2>
                    <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                </div>
                <div class="col-md-7">
                    <img class="amenities-image img-fluid mx-auto" src="/images/GameRoom.jpg">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row">
                <div class="col-md-5 order-md-2">
                    <h2>The Art Studio</h2>
                    <p class="lead">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-7 order-md-1">
                    <img class="amenities-image img-fluid mx-auto" src="/images/ArtStudio.jpg">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row">
                <div class="col-md-5">
                    <h2>The Roof</h2>
                    <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="col-md-7">
                    <img class="amenities-image img-fluid mx-auto" src="/images/Roof.jpg">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row">
                <div class="col-md-5 order-md-2">
                    <h2>The Lobby</h2>
                    <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="col-md-7 order-md-1">
                    <img class="amenities-image img-fluid mx-auto" src="/images/Lobby.jpg">
                </div>
            </div>
        </div>

    </section>


    <!-- Floorplans -->
    <section id="floorplans">

        <hr class="featurette-divider">
        <div class="container marketing">
            <div class="row justify-content-md-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-center bg-light floorplan-box">
                        <h2>Studio</h2>
                        <p class="lead">Lorem ipsum dolor sit amet.</p>
                        <img class="floorplan-image" src="/images/Floorplan_Studio.png">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-center bg-light floorplan-box">
                        <h2>1 Bed 1 Bath</h2>
                        <p class="lead">Nunc ante est, vestibulum semper feugiat non.</p>
                        <img class="floorplan-image" src="/images/Floorplan_1B1B.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-center bg-light floorplan-box">
                        <h2>2 Bed 1 Bath</h2>
                        <p class="lead">Phasellus vestibulum, lectus eu vulputate pulvinar.</p>
                        <img class="floorplan-image" src="/images/Floorplan_2B1B.png">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-center bg-light floorplan-box">
                        <h2>2 Bed 2 Bath</h2>
                        <p class="lead">Vivamus cursus nisl quis quam feugiat molestie.</p>
                        <img class="floorplan-image" src="/images/Floorplan_2B2B.png">
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- Location -->

    <section id="location">

        <hr class="featurette-divider">
        <div class="container marketing">
            <div class="row">
                <div class="col-md-5">
                    <br>
                    <h2>Leasing Office</h2>
                    <p class="lead">1234 Lorem Ipsum Ave
                        <br>Ste A
                        <br>State College, PA 16801
                    </p>
                    <h2>Residences</h2>
                    <p class="lead">4321 Lorem Ipsum Ave
                        <br>State College, PA 16801
                    </p>
                </div>
                <div class="col-md-7">
                    <img class="amenities-image img-fluid mx-auto" src="/images/Map.png">
                </div>
            </div>
        </div>

    </section>


    <!-- Contact Us -->
    <section id="contact">

        <hr class="featurette-divider">
        <div class="container marketing">

            <h2>To learn more about Saint Marc Apartments and schedule a visit, please register using the form and a member of our team will be in touch.</h2>

            <form class="contact-us-form" action="/inquiry" method="POST">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control" name="name" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email Address</label>
                    <input type="email" class="form-control" name="emailAddress" required>
                    <div class="form-text">* We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Message</label>
                    <textarea name="message" class="form-control" required rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>

    </section>

</main>