<%- include('partials/header'); -%>

<%- include('partials/navbar-admin'); -%>

<main class="container pt-4">
    <div class="p-5 bg-light rounded">
        <h2>Hello, <%=user.firstName%>!</h2>
        <p>Welcome to the admin portal.</p>
    </div>
</main>

<%- include('partials/footer'); -%>