<%- include('partials/header'); -%>

<%- include('partials/navbar-generic'); -%>

<main>
    <div class="w-75 m-4 mx-auto">
        <div class="p-5 bg-light rounded-3">
            <h2>Message Sent</h2>
            <p>Thank you for contacting us. We will get back to your shortly.</p>
        </div>
    </div>
</main>

<%- include('partials/footer'); -%>