<%- include('partials/header'); -%>

<%- include('partials/navbar-generic'); -%>

<main class="container pt-4">
    <div class="p-5 bg-light rounded">
        <h2> Hello</h2>
        <p> You are signed in! </p>
    </div>
</main>

<%- include('partials/footer'); -%>